<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, noarchive, nofollow" />
    <link rel="stylesheet" href="../css/styles.css">
  </head>

  <body>
    <header>
      <h1>About Me</h1>
    </header>
    <main>
      <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About Me</a>

      </nav>

      <h2>Home</h2>
      <h3>Matt Baker</h3>
      <p>Maaaatt Baker
      </p>
    </main>
  </body>
</html>